<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Handheld"
        android:usesCleartextTraffic="true">

        <service android:name="com.jeanwest.reader.management.IotHub" />

        <activity
            android:name="com.jeanwest.reader.activities.Count"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-excel" />
            </intent-filter>
        </activity>
        <activity android:name="com.jeanwest.reader.activities.Inventory" />
        <activity android:name="com.jeanwest.reader.activities.InventorySearch" />
        <activity android:name="com.jeanwest.reader.activities.AddToManualRefill" />
        <activity android:name="com.jeanwest.reader.activities.CreateStockDraft" />
        <activity android:name="com.jeanwest.reader.activities.ManualRefill" />
        <activity android:name="com.jeanwest.reader.activities.Refill" />
        <activity android:name="com.jeanwest.reader.activities.Refill2" />
        <activity android:name="com.jeanwest.reader.activities.OperatorLogin" />
        <activity android:name="com.jeanwest.reader.activities.ConfirmStockDraft" />
        <activity android:name="com.jeanwest.reader.activities.UserLogin" />
        <activity android:name="com.jeanwest.reader.activities.SearchSpecialProduct" />
        <activity android:name="com.jeanwest.reader.activities.Kiosk" />
        <activity android:name="com.jeanwest.reader.activities.DeviceRegister" />
        <activity android:name="com.jeanwest.reader.activities.Update" />
        <activity android:name="com.jeanwest.reader.activities.WriteTag" />
        <activity android:name="com.jeanwest.reader.activities.AttachEPCsToStockDraft" />
        <activity android:name="com.jeanwest.reader.activities.StockDraftsList" />
        <activity android:name="com.jeanwest.reader.activities.CreateCarton" />
        <activity android:name="com.jeanwest.reader.activities.ShowCarton" />
        <activity android:name="com.jeanwest.reader.activities.CreateStockDraftByCartons"/>
        <activity
            android:name="com.jeanwest.reader.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Handheld">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>