<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanwest.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Handheld"
        android:fullBackupContent="true"
        android:allowBackup="true">

        <activity android:name=".transference.ConfirmScanningLogin"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".transference.ConfirmScanningActivity"
            android:parentActivityName=".transference.ConfirmScanningLogin"/>

        <activity android:name=".transference.ConfirmScanningResultActivity"
            android:parentActivityName=".transference.ConfirmScanningActivity"/>

        <activity android:name=".transference.ConfirmScanningFindingProduct"
            android:parentActivityName=".transference.ConfirmScanningResultActivity"/>

        <activity android:name=".transference.TransferenceActivity"
            android:parentActivityName=".transference.TransferenceActivityLogIn"/>

        <activity android:name=".transference.TransferenceActivityLogIn"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".UserLoginActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".finding.FindingProductSubActivity"
            android:parentActivityName=".finding.FindingProductActivity" />
        <activity
            android:name=".finding.FindingProductActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".warehouseScanning.WarehouseScanningSubResultActivity"
            android:parentActivityName=".warehouseScanning.WarehouseScanningResultActivity" />
        <activity
            android:name=".add.SettingActivity"
            android:parentActivityName=".AboutUsActivity" />
        <activity
            android:name=".warehouseScanning.WarehouseScanningResultActivity"
            android:parentActivityName=".warehouseScanning.WarehouseScanningActivity" />
        <activity
            android:name=".warehouseScanning.WarehouseScanningUserLogin"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginToSettingActivity"
            android:parentActivityName=".AboutUsActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".warehouseScanning.WareHouseScanningFindingProduct"
            android:parentActivityName=".warehouseScanning.WarehouseScanningSubResultActivity" />
        <activity
            android:name=".warehouseScanning.WarehouseScanningActivity"
            android:parentActivityName=".warehouseScanning.WarehouseScanningUserLogin" />
        <activity
            android:name=".add.AddProductActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>