<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeanwest.reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Handheld">
        <activity android:name=".findingResultSubActivity"
            android:parentActivityName=".findingActivity"/>
        <activity android:name=".findingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".readingResultSubActivity"
            android:parentActivityName=".readingResultActivity" />
        <activity
            android:name=".addNewSetting"
            android:parentActivityName=".settingActivity" />
        <activity
            android:name=".readingResultActivity"
            android:parentActivityName=".reading" />
        <activity
            android:name=".userSpecActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loginActivity"
            android:parentActivityName=".settingActivity" />
        <activity
            android:name=".settingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".readingResultSubSubActivity"
            android:parentActivityName=".readingResultSubActivity"/>
        <activity
            android:name=".reading"
            android:parentActivityName=".userSpecActivity" />
        <activity
            android:name=".addNew"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>